.envInfoTable {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 8px 0;
    color: #8c8c8c;
    font-weight: 400;
    border-bottom: 1px solid #f0f0f0;
  }

  td {
    padding: 10px 0;
    border-top: 1px solid #f0f0f0;
  }
}
